* {
  box-sizing: border-box;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: lightgray;
}

header {
  text-align: center;
  background-color: whitesmoke;
  height: auto;
  margin:10px;
  padding: 5px;
}

h2 {
  font-size: 14pt;
}

p ul ol li {
  font-size: 10pt;
  text-align: left;
}

.center {
  text-align: center;
}

.left{
  text-align: left;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: darkgreen;
}

/* selected link */
a:active {
  color: aqua;
}
